##### 176. Second Highest Salary
Write a SQL query to get the second highest salary from the Employee table.<br>
+----+--------+<br>
| Id | Salary |<br>
+----+--------+<br>
| 1 | 100 |<br>
| 2 | 200 |<br>
| 3 | 300 |<br>
+----+--------+<br>

##### For example, given the above Employee table, the query should return 200 as the second highest salary. If there is no second highest salary, then the query should return null.<br>
+---------------------+<br>
| SecondHighestSalary |<br>
+---------------------+<br>
| 200 |<br>
+---------------------+<br>

##### PySpark Solution

In [0]:
df_sal = spark.createDataFrame(data = [(1, 100), (1, 200), (1, 300), (1, 400)], schema = ['Id', 'Salary'])
df_sal.display()

Id,Salary
1,100
1,200
1,300
1,400

In [0]:
from pyspark.sql.functions import dense_rank, col
from pyspark.sql.window import Window

windowSpec = Window.partitionBy('Id').orderBy('Salary')

df_2nd_highest_sal = (df_sal
                      .withColumn('rank', dense_rank().over(windowSpec))
                      .filter(col("rank") == 2)
                      .withColumnRenamed("Salary", "SecondHighestSalary")
                      .drop("Id")
                      .drop("rank")
                      )

df_2nd_highest_sal.display()

SecondHighestSalary
200